img{
    width: 200px;
    position: relative;
    left: 25%;


}
body{

background-image: url("http://i.imgur.com/AwnKj6j.jpg");
    color: white;
}
header{
    position: relative;
    left: 20%;
    color: white;


}
#timer{
    display:inline-flex;
    text-align: center;

}
.timmmer{
    text-align: center;

}
#score{

    width: 25%;
    height: 15%;
    text-align: center;
    font-family: "Arial Black";
    font-size: 50px;
border: solid black;
    background-image: url("https://image.myanimelist.net/ui/OK6W_koKDTOqqqLDbIoPAlJR0BTB7CcibO4mzLhD-Q4");
    display:none;
    background-repeat: no-repeat;
    position: center;
}
button{
    left:  100%;
}